//global variables for whole components
$primaryyellow: #EAAA00;
$primaryyellowlight:#F7D117;
$primaryblack:#191C1B;
$white:#fff;
$black:#000;
$blackgrey:#3D3A3A;
$bordercolor:#100b0b;
$borderSecondary: #808080;
$shadow:0px 15px 50px 1px rgba(0, 0, 0, 0.1);
$autowide: 'Audiowide';
$--rem:16px;
$width-custom:1521px;
$primary-font:1.4em;
$textshadow:1px 1px 3px rgb(0 0 0 / 38%);
$input-placeholder-color: #585757;
$Euclidfont:"Euclid Circular A", sans-serif;
 
 



 



