//global variables for whole components
$primaryyellow: #EAAA00;
$primaryblack:#191C1B;
$white:#fff;
$black:#000;
$bordercolor:#D9D9D9;
$shadow:0px 15px 50px 1px rgba(0, 0, 0, 0.1);
$autowide: 'Audiowide';


 
 
 



 



